* {
  margin: 0;
}
/* Body */

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Header card blok modfier */

.card_header {
  max-width: 680px;
  margin: 18px auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: baseline;
  cursor: default;
}

.card_header {
  font-size: 40px;
}

.card_header .card__img {
  width: 60px;
  height: 60px;
}

.card_header .card__title {
  text-transform: uppercase;
  width: auto;
}

.card_header .card__description {
  font-size: 0.5em;
  white-space: normal;
}

.card_header .card__description {
  margin-bottom: 32px;
}

/* Line before heading */

.card_header .card__description:before {
  content: "";
  width: 50%;
  max-width: 150px;
  height: 4px;
  display: block;
  margin: 8px auto;
  margin-bottom: 48px;
  background-color: black;
}

/* Wraper block */

.wraper {
  min-width: 320px;
  max-width: 900px;
  width: 100%;
  position: relative;
}

/* Card blocks */

.card {
  display: flex;
  align-items: center;
}

.card__title,
.card__description {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  min-width: 10px;
  width: 100%;
  text-align: center;
}

.card__title {
  font-size: 1em;
  line-height: 2em;
}

.card__description {
  font-size: 0.8em;
}

.card__img_round {
  border-radius: 50%;
  object-fit: cover;
}

/* Person block*/

.person {
  display: grid;
  justify-items: center;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr 1fr;
}

/* Person card block modfier*/

.card_person {
  flex-direction: column;
  padding: 8px;
  padding-bottom: 28px;
  width: 200px;
  cursor: pointer;
}

.card_person {
  font-size: 20px;
}

.card_person .card__description {
  color: lightgray;
}

.card_person .card__img {
  width: 200px;
  height: 200px;
}

/* Snadow behind card */
.card_person:hover {
  position: relative;
}

.card_person:hover:after {
  content: "";
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: block;
  width: 100%;
  height: calc(100% - 100px);
  position: absolute;
  bottom: 8px;
  z-index: -1;
}

/* Profile div */
.profile {
  display: none;
  background-color: white;
  position: fixed;
  z-index: 999;
  width: 420px;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: default;

  /*Расположение профиля, использовать в дальнейшем для правильного отображения */
  top: 100px;
  left: 100px;
}

.showProfile {
  display: block;
}

/* Card profile */
.card_profile {
  display: flex;
  justify-content: space-between;
  align-content: center;
  max-width: 420px;
  min-height: auto;
}

.card_profile_info {
  margin-top: 10px;
}

.text_lightgray {
  color: lightgray;
}

.card_profile__img {
  width: 15px;
  height: 15px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.card_profile__text {
  margin-left: 10px;
  margin-top: 10px;
}

.card_profile__text {
  width: 160px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 12px;
}

.card_profile__title {
  font-size: 1.5em;
  margin-left: 10px;
}

.card_profile_photoContainer .card_profile__img {
  margin: 10px;
  height: 120px;
  width: 120px;
  background-color: black;
  object-fit: cover;
  border-radius: 2%;
  cursor: default;
}
.card_profile_date {
  display: grid;
  justify-items: left;
  justify-content: space-around;
  grid-template-columns: 1fr 1fr;
}

.card_profile_date .card_profile__text {
  width: 130px;
}

.card_profile_friends {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
  margin-left: 10px;
}

.card_profile_friends .card_profile__img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin: 0;
  margin-left: -16px;
  background-color: black;
}

.card_profile_friends__link {
  text-decoration: none;
  font-size: 14px;
}

.card_profile__ava {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  margin-right: -16px;
  object-fit: cover;
  position: relative;
  cursor: pointer;
  background-color: black;
}
.card_profile__ava:hover {
  z-index: 1;
}

/* Landscape modes */

@media screen and (max-width: 650px) {
  .person {
    grid-template-columns: 1fr;
  }
}

/* Portrait modes */

@media screen and (max-width: 650px) {
  .card_header {
    margin: 16px 16px;
  }

  .card_header .card__title {
    font-size: 30px;
  }

  .card_person {
    display: grid;
    grid-template-columns: 116px 1fr;
    width: 80%;
  }

  .card_person .card__img {
    width: 100px;
    height: 100px;
    grid-row: span 2 / auto;
  }

  .card_person .card__title {
    align-self: end;
  }

  .card_person .card__title,
  .card_person .card__description {
    text-align: left;
  }

  /* Shadow behind card */
  .card_person:hover:after {
    height: calc(100% - 40px);
    bottom: 16px;
  }
}
